.blog ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.blog li {
  display: inline-block;
  margin: 20px;
}

.blog a {
  text-decoration: none;
  color: #9c27b0;
  font-weight: bold;
}
